.socials-conteiner{
    display: flex;
    gap:20px ;
   }
   .socials-conteiner a{
    background-color: white;
    padding: .8rem;
    border-radius: 50%;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    box-shadow: 0 5px 10px rgba(255, 254, 254, 0.05);
   }

   .socials-conteiner a svg{
    height: 28px;
   }

   .socials-conteiner a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 0.5rem 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(255, 254, 254, 0.05);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
   }
   .socials-conteiner a:hover{
    background-color: var(--accent-color);
    fill: white;
   }
   .socials-conteiner a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
   opacity: 0;
   transition: 200ms cubic-bezier(.42, 0, .44, 1.68);
   }
.socials-conteiner a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.socials-conteiner a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}